nav {
  ul {
    display: flex;
    gap: 3.3rem;
    padding-left: 5.8rem;
    max-width: 23.6rem;
    a {
      font-size: 2rem;
      line-height: 1.5;
      font-weight: 500;
      color: $color-dark;

      &:hover {
        color: $color-primary;
      }
    }
    @include responsive(l-tablet) {
      padding-left: 0;
    }
  }

  @include responsive(phone) {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    ul {
      flex-direction: column;
      align-items: center;
      padding-top: 2rem;
      a {
        font-size: 2.5rem;
      }
    }
  }
}
