.hidden {
  //   display: block;
  @include responsive(phone) {
    display: none;
  }
}
.block-hiddin {
  @include responsive(phone) {
    display: none;
  }
}
.start-hiddins {
  display: none;
  @include responsive(phone) {
    display: flex;
    img {
      display: inline-block;
      height: auto;
      margin-right: 0;
    }
    margin-bottom: 0;
    hr {
      margin-top: 4.3rem;
    }
  }
}
