.hidden {
  //   display: block;
  @include responsive(phone) {
    display: none;
  }
}
.block-hiddin {
  @include responsive(phone) {
    display: none;
  }
}
.st-hid {
  display: none;
  @include responsive(phone) {
    display: flex;
    img {
      display: inline-block;
      height: auto;
    }
    margin-bottom: 0;
    hr {
      margin-top: 4.3rem;
    }
  }
}
