html {
  font-size: 62.5%;
}

body {
  font-family: $heebo;
  font-size: 1.6rem;
  color: $color-dark;
  font-weight: 400;
  line-height: 1.5;
}

h1 {
  font-size: 4.4rem;
  @include responsive(m-tablet) {
    font-size: 3.5rem;
  }
  @include responsive(phone) {
    font-size: 3.2rem;
  }
  line-height: 1.36;
  font-weight: 700;
  color: $color-dark;
}

h2 {
  font-size: 2.6rem;
  @include responsive(phone) {
    font-size: 2.2rem;
  }
  line-height: 1.5;
  font-weight: 700;
}
h3 {
  color: $color-dark;
  font-size: $h3-size;
  line-height: 6rem;
  margin-bottom: 1.7rem;
  @include responsive(phone) {
    font-size: 1.8rem;
  }
}
h5 {
  color: $color-dark;
  font-size: 3rem;
  line-height: 4.4rem;
  @include responsive(phone) {
    font-size: 2.4rem;
  }
}
