$color-primary: #ff6464;
$color-secondary: #00a8cc;
$color-dark: #21243d;

// bg
$color-bg: #ffffff;
$color-bg-section: #edf7fa;
$color-time-1: #142850;
$color-time-2: $color-primary;

// size
$container: 895px;
$nav-size: 2rem;
$nav-line: 1.5;
// fonts
$heebo: "Heebo", "Arial", sans-serif;
$h3-size: 2.2rem;
$h3-line: 2.8;
